@model IEnumerable<SOFTWARE1_PROYECTO.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<div class="container">
<h2>Lista de Clientes</h2>

<p>
    <button class="btn btn-primary" onclick="window.location='@Url.Action("Index", "Cliente")'">Registrar</button>
</p>
<table class="table table-hover table-dark">
    <thead class="thead-dark">
        <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.direccion)
                </th>
                  <th scope="col">
                    @Html.DisplayNameFor(model => model.compras)
                </th>
        </tr>
    </thead>

    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>| 
                <a asp-action="Delete" asp-route-id="@item.ID" id="delete">Delete</a>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.compras)
            </td>

        </tr>
    }        
    </tbody>    
</table>
</div>


@if ((String)TempData["prueba"] == "prueba01")
{
    <input value="hola" id="hola01" type="hidden">
}

@if ((String)TempData["prueba02"] == "prueba02") 
{
    <input value="hola" id="prueba02" type="hidden">
}

    <script>
        
        var x = document.getElementById('hola01').value;

        if(x == "hola") {
        
            Swal.fire(
                'Registro exitoso',
                'El Cliente ha sido registrado exitosamente',
                'success'
            )
  
        }

       

    </script>

   <script>
        
        var y = document.getElementById('prueba02').value;

        if(y == "hola") {

            Swal.fire(
                'Editado correctamente',
                'El Cliente se ha editado correctamente',
                'success'
            )
        }
   </script> 

